<div id="fondform" class="row">
<h1>Création d'évènement</h1>
  <form>
    <div class="form-group">
      <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" placeholder="Entré un nom de l'évènement">
    </div>
    <div class="form-group">
      <label for="lieu">Lieu</label>
        <input type="text" class="form-control" id="lieu" placeholder="Entrer un endroit">
    </div>
    <div class="form-group">
      <label for="datetime">Heure de début / Heure de fin</label>
        <input type="text" class="form-control" id="datetime" placeholder="Exemple: 12:42 // 16/42">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" class="form-control" rows="3" placeholder="Description de l'évènement"></textarea>
    </div>
      <div class="form-group">
      <label for="organisme">Organisme organisateur</label>
        <input type="text" class="form-control" id="organisme" placeholder="Entré un nom d'organisme-entreprise organisateur">
    </div>
    <div class="form-group">
      <label for="co_organisateur">Co-organisateur</label>
        <input type="text" class="form-control" id="co_organisateur" placeholder="Co-organisateur">
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Public
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Privé
      </label>
    </div>
    <button type="reset" class="btn btn-default">Réinitialiser</button>
    <button type="submit" class="btn btn-default">Envoyer</button>

  </form>
</div>