.semaine div {
	width: 157px;
	display: inline-block;
}

#firstSemaine {
	/*margin-left: 15px;*/
}

span {
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color: #424242;
	color: white;
}


#calendrier {
	margin-top: 80px;
}

#aujour {
	background-color: #e41720;
}

.journee {
	height: 100px;
	background-color: #d5d5d5;
}

.jour, .moisPrecedent {
	margin: 0 5px 10px 5px;
}

h1 {
	text-align: center;
	margin: 0 0 30px !important;
}