html, body {
	height: 100%;
}

#logo_blanc{
	max-height: 36px;
	display: inline;
	margin: 7px 0 7px 20px;
}

nav {
	background-color: #4a4a4a;
	margin: 0 !important;
}

nav li{
	display: inline;
	list-style: none;
	padding: 15px;
}

nav li .glyphicon {
	margin-right: 10px;
}

nav ul.nav.navbar-nav li a{
	color:#fff;
}
nav ul.nav.navbar-nav li a:hover{
	color:#4a4a4a;
}

#menu_membre{
	display: inline-block;
	float: right;
	margin: 15px 25px 0 0;
	color: white;
}

body {
	background: #f1f1f1 !important;
	background-repeat: no-repeat;
	height: 100%;
}