html, body {
	background-color: #d6d6d6;
}

#banniere {
	text-align: center;
}

#banniere img {
	/*width: 900px;*/
}

#description {
	background-color: #dfdfdf;
	padding: 20px;
	box-shadow: 10px 10px 20px black;
}

#calendrier {
	text-align: center;
	margin: 50px 0;
}

#calendrier img {
	width: 900px;
}

#form {
	width: 900px;
	background-color: #dfdfdf;
	padding: 20px;
	box-shadow: 10px 10px 20px black;
}

#bouton {
	text-align: center;
}